USE [master]
GO
/****** Object:  Database [DelosiDB]    Script Date: 7/17/2023 11:21:56 AM ******/
CREATE DATABASE [DelosiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DelosiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DelosiDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DelosiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DelosiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DelosiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DelosiDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/17/2023 11:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WatchDog_Logs]    Script Date: 7/17/2023 11:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchDog_Logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[eventId] [varchar](100) NULL,
	[message] [varchar](max) NULL,
	[timestamp] [varchar](100) NOT NULL,
	[callingFrom] [varchar](100) NULL,
	[callingMethod] [varchar](100) NULL,
	[lineNumber] [int] NULL,
	[logLevel] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WatchDog_WatchExceptionLog]    Script Date: 7/17/2023 11:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchDog_WatchExceptionLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[message] [varchar](max) NULL,
	[stackTrace] [varchar](max) NULL,
	[typeOf] [varchar](max) NULL,
	[source] [varchar](max) NULL,
	[path] [varchar](max) NULL,
	[method] [varchar](300) NULL,
	[queryString] [varchar](max) NULL,
	[requestBody] [varchar](max) NULL,
	[encounteredAt] [varchar](max) NOT NULL,
 CONSTRAINT [PK__WatchDog__3213E83FD3243609] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WatchDog_WatchLog]    Script Date: 7/17/2023 11:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchDog_WatchLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[responseBody] [varchar](max) NULL,
	[responseStatus] [int] NOT NULL,
	[requestBody] [varchar](max) NULL,
	[queryString] [varchar](max) NULL,
	[path] [varchar](max) NULL,
	[requestHeaders] [varchar](max) NULL,
	[responseHeaders] [varchar](max) NULL,
	[method] [varchar](max) NULL,
	[host] [varchar](max) NULL,
	[ipAddress] [varchar](30) NULL,
	[timeSpent] [varchar](100) NULL,
	[startTime] [varchar](100) NOT NULL,
	[endTime] [varchar](100) NOT NULL,
 CONSTRAINT [PK__WatchDog__3213E83FE91414C7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [UserName], [Password]) VALUES (1, N'William', N'Reynaga', N'wreynaga', N'wreynaga')
GO
SET IDENTITY_INSERT [dbo].[WatchDog_WatchExceptionLog] ON 

SET IDENTITY_INSERT [dbo].[WatchDog_WatchExceptionLog] OFF
GO
SET IDENTITY_INSERT [dbo].[WatchDog_WatchLog] ON 

GO
SET IDENTITY_INSERT [dbo].[WatchDog_WatchLog] OFF
GO
/****** Object:  Index [PK_Users]    Script Date: 7/17/2023 11:21:57 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [PK_Users] PRIMARY KEY NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[USP_ValidateUsers]    Script Date: 7/17/2023 11:21:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_ValidateUsers]
(
    @UserName varchar(50),
    @Password varchar(50)
)
AS
BEGIN
    SELECT UserId, FirstName, LastName, UserName, NULL as Password
    FROM Users
    WHERE UserName = @UserName and Password = @Password
END
GO
USE [master]
GO
